﻿@using Microsoft.AspNetCore.Identity
@using Conum.Data.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">
        <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
        Conum
    </a>
    @if (SignInManager.IsSignedIn(User))
    {
        <a class="navbar-brand default-font" href="/">@UserManager.GetUserName(User)</a>
    }
</div>
<div id="navbar" class="collapse navbar-collapse">
    @if (SignInManager.IsSignedIn(User))
    {
        <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
            <ul class="routes nav navbar-nav navbar-right">
                <li>
                    <a asp-action="ModalAddCounterAction" asp-controller="Dashboard" data-target="#add-counter-modal-container" data-toggle="modal">Додати лічильник</a>
                </li>
                <li>
                    <a href="#">
                        <button type="submit" class="btn btn-link navbar-btn navbar-link logout">Вийти</button>
                    </a>
                </li>

                    
            </ul>
        </form>
    }
    else
    {
        <ul class="nav navbar-nav navbar-right">
            <li><a asp-area="" asp-controller="Account" asp-action="Register">Зареєструватися</a></li>
            <li><a asp-area="" asp-controller="Account" asp-action="Login">Ввійти</a></li>
        </ul>
    }
</div>
