﻿@model Conum.ViewModels.User.ForgotPassword

<div class="row intro">
    <div class="col-xs-12">
        <form asp-controller="Account" asp-action="ForgotPassword" method="post" class="form-horizontal" data-toggle="validator">
            <p>Будь ласка, введіть адресу електронної скриньки, куди буде надіслано лист з інструкцією до скидання паролю.</p>
            <div class="col-sm-offset-3 col-sm-4">
                <div class="form-group row">
                    <input asp-for="Email" class="form-control" placeholder="Електронна адреса" required/>
                </div>
            </div>
            <div class="col-sm-4 vertical-center-intro-wrapper">
                <button type="submit" class="btn btn-info">Надіслати лист</button>
            </div>
        </form>
    </div>
</div>
