﻿<div class="intro password-confirmation">
    <div class="col-xs-12">
        <p>
            Лист з інструкцією до скидання паролю відправлено за вказаною адресою. Будь ласка, перевірте поштову скриньку.
        </p>
    </div>
</div>
