﻿@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model Conum.ViewModels.User.Login

<div class="row intro">
    <div class="col-sm-offset-3 col-sm-5">
        <section>
            <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" data-toggle="validator">
                <div asp-validation-summary="All" class="text-danger center-text"></div>
                <div class="form-group row">
                    <div class="col-xs-12">
                        <input asp-for="Email" class="form-control" placeholder="Електронна адреса" required/>
                    </div>
                    <div class="col-xs-12">
                        <input asp-for="Password" class="form-control" placeholder="Пароль" required/>
                    </div>
                    <div class="col-xs-12 vertical-center-wrapper">
                        <button type="submit" class="btn btn-info button-vertical-align center-block">Ввійти</button>
                    </div>
                </div>
                <p>
                    <a asp-action="ForgotPassword">Забули пароль?</a>
                </p>
            </form>
        </section>
    </div>
</div>
