﻿@model Conum.ViewModels.User.Register

<div class="row intro">
    <div class="col-sm-offset-3 col-sm-5">
        <form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" data-toggle="validator">
            <div asp-validation-summary="All" class="text-danger center-text"></div>
            <div class="form-group">
                <div class="col-xs-12">
                    <input asp-for="Email" class="form-control" placeholder="Електронна адреса" required/>
                </div>
                <div class="col-xs-12">
                    <input asp-for="Password" class="form-control" placeholder="Введіть пароль" required/>
                </div>
                <div class="col-xs-12">
                    <input asp-for="ConfirmPassword" class="form-control" placeholder="Введіть пароль ще раз" required/>
                </div>
                <div class="col-xs-12 vertical-center-wrapper">
                    <button type="submit" class="btn btn-info button-vertical-align center-block">Зареєструватися</button>
                </div>
            </div>
        </form>
    </div>
</div>