﻿<div class="intro password-confirmation">
    <div class="col-xs-12">
        <p>
            Ваш пароль було оновлено. Будь ласка, <a asp-controller="Account" asp-action="Login">натисніть сюди аби ввійти</a>.
        </p>
    </div>
</div>