﻿@using Microsoft.AspNetCore.Identity
@using Conum.Data.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{

<div class="row counters dashboard">
    @if (TempData["Success"] != null)
    {
        <div class="alert alert-success alert-dismissable fade in center-text">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            @TempData["Success"]
        </div>
    }
    else if (TempData["Error"] != null)
    {
        <div class="alert alert-danger alert-dismissable fade in center-text">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Увага!</strong> Під час збереження даних сталася помилка. Будь ласка, перевірте зʼєднання та повторіть спробу.
        </div>
    }
    
    <div class="alert alert-warning alert-dismissable fade in center-text device-alert" style="display: none;">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Увага!</strong> Мобільна версія не підтримує редагування лічильників.
    </div>
    @if (ViewBag.User.Counters != null)
    {
        @foreach (var counter in ViewBag.User.Counters)
        {
            <div class="col-sm-12 counter-nest">
                <div class="col-sm-3 center-text">
                    <span class="glyphicon glyphicon-ok-circle counter-icon" style="color: @counter.Color"></span>
                </div>

                <!-- General counter's info-->
                <div class="col-sm-5 counter-title h3">
                    <div class="col-sm-12 h3">
                        <span class="h3">Назва: @counter.Title</span>
                        <button type="button" class="btn btn-xs btn-info edit"
                            data-toggle="collapse"
                            data-counter="@counter.Id"
                            style="background-color: @counter.Color; border-color: @counter.Color"
                            data-target="#edit-for-@counter.Id">
                            Редагувати
                        </button>
                    </div>

                    <div class="col-sm-12">
                        <span>Одиниця вимірювання: </span>
                        <strong><span>@counter.Dimension</span></strong>
                    </div>
                    <div class="col-sm-12">
                        <span>Вартість спожитої одиниці: </span>
                        <strong><span>@counter.Price.ToString("G29")</span></strong>
                    </div>
                    @if (counter.Records.Count > 0)
                    {
                        <div class="col-sm-12">
                            <div>
                                <span>Останній запис має значення </span>
                                <strong><span clas>@counter.Records[0].Value.ToString("G29")</span></strong>
                            </div>
                            <div>
                                <span> Та актуальний станом на </span>
                                <strong><span> @counter.Records[0].CreationDate.ToString("dd/MM/yyyy")</span></strong>
                            </div>
                        </div>
                    }
                </div>
                <div class="col-sm-2">
                    <div class="button-wrapper text-center">
                        <button type="button" class="btn btn-info btn-sx all-records button-vertical-align" id="show-button-for-@counter.Id"
                            data-toggle="collapse"
                            data-target="#records-for-@counter.Id"
                            style="background-color: @counter.Color">
                            Показники</button>
                    </div>
                </div>

                <!-- Edit counter-->
                <div class="col-xs-12 collapse" id="edit-for-@counter.Id"}>
                    <div class="bs-component">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#edit-title-for-@counter.Id" data-toggle="tab" aria-expanded="true">Назва</a></li>
                            <li class=""><a href="#edit-dimension-for-@counter.Id" data-toggle="tab" aria-expanded="false">Одиниця вимірювання</a></li>
                            <li class=""><a href="#edit-price-for-@counter.Id" data-toggle="tab" aria-expanded="false">Вартість спожитої одиниці</a></li>
                            <li class=""><a href="#edit-color-for-@counter.Id" data-toggle="tab" aria-expanded="false">Колір</a></li>
                            <li class=""><a href="#delete-@counter.Id" data-toggle="tab" aria-expanded="false">Видалення</a></li>
                            
                        
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade active in" id="edit-title-for-@counter.Id">
                                @Html.Partial("/Views/Partial/Counter/UpdateCounterTitle.cshtml",
                                new ViewDataDictionary(ViewData) { { "CounterId", counter.Id } })
                            </div>
                            <div class="tab-pane fade" id="edit-dimension-for-@counter.Id">
                                @Html.Partial("/Views/Partial/Counter/UpdateCounterDimension.cshtml",
                                new ViewDataDictionary(ViewData) { { "CounterId", counter.Id } })
                            </div>
                            <div class="tab-pane fade" id="edit-price-for-@counter.Id">
                                @Html.Partial("/Views/Partial/Counter/UpdateCounterPrice.cshtml",
                                new ViewDataDictionary(ViewData) { { "CounterId", counter.Id } })
                            </div>
                            <div class="tab-pane fade" id="edit-color-for-@counter.Id">
                                @Html.Partial("/Views/Partial/Counter/UpdateCounterColor.cshtml",
                                new ViewDataDictionary(ViewData) { { "CounterId", counter.Id }, {"CounterColor", counter.Color} })
                            </div>
                            <div class="tab-pane fade" id="delete-@counter.Id">
                                @Html.Partial("/Views/Partial/Counter/DeleteCounter.cshtml",
                                new ViewDataDictionary(ViewData) { { "CounterId", counter.Id }, {"CounterTitle", counter.Title}})
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Records list-->
                    <div id="records-for-@counter.Id" data-counter="@counter.Id" class="col-sm-12 collapse center-text records-nest">
                        <div class="bs-component">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#records-list-for-@counter.Id" data-toggle="tab" aria-expanded="true">Список</a></li>
                                <li class=""><a href="#add-new-record-for-@counter.Id" data-toggle="tab" aria-expanded="false">Додати новий показник</a></li>     
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade active in records-inner-nest" id="records-list-for-@counter.Id">
                                    <!-- Foreach records -->
                                    @if (counter.Records.Count < 1)
                                    {
                                        <p>Ви не додали жодного показника для цього лічильника</p>
                                    }
                                    else
                                    {
                                        if (counter.Records.Count < 5)
                                        {
                                            <p>Діаграма споживання для обраного лічильника зʼявиться після внесення більшої кількості показників</p>
                                        }
                                        else
                                        {
                                            <canvas id="records-chart-for-@counter.Id"></canvas>
                                        }
                                        <table class="table table-striped table-hover records-table-for-@counter.Id">
                                            <thead>
                                                <tr>
                                                    <th>Дата</th>
                                                    <th>Показники</th>
                                                    <th>Спожито за період</th>
                                                    <th>Вартість спожитого</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            @foreach(var record in counter.Records)
                                            {
                                                <tr>
                                                    <td class="record-creation-date">@record.CreationDate.ToString("dd/MM/yyyy")</td>
                                                    <td class="record-value">@record.Value.ToString("G29")</td>
                                                    <td class="record-spent">@ViewBag.RecordsDifference[record.Id].ToString("G29")</td>
                                                    <td class="record-spent-price">@((counter.Price * ViewBag.RecordsDifference[record.Id]).ToString("#,#.##"))</td>
                                                    <td>
                                                        <a asp-action="ModalDeleteRecordAction" asp-controller="Dashboard" asp-route-id="@record.Id" data-target="#delete-record-modal-container" data-toggle="modal">
                                                            <span class="glyphicon glyphicon-remove-circle" style="color: red"></span>
                                                        </a>
                                                    </td>
                                                </tr>
                                            } 
                                            </tbody>
                                        </table>
                                    }
                                    
                                </div>
                                <div id="add-new-record-for-@counter.Id" class="tab-pane fade">
                                    @Html.Partial("/Views/Partial/Record/AddRecord.cshtml",
                                    new ViewDataDictionary(ViewData) {{ "CounterId", counter.Id }})   
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-sm-12 counter-nest-bottom"></div>
                    </div>
            </div>

            <div id="delete-record-modal-container" class="modal fade hidden-print" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div class="intro">
            <div class ="col-xs-12 center-text">
                <p>Вітаємо! Ви успішно створили обілковий запис в <strong>Conum</strong>. Додайте свій перший лічильник та заповніть його показниками, аби побачити всі можливості цього web-застосунку.</p>
                <p>Не варто надто хвилюватися з приводу введених даних при створенні лічильника. Ви все зможете оновити пізніше.</p>
            </div>
        </div>
        
    }
    <div id="add-counter-modal-container" class="modal fade hidden-print" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>
</div>
}
else
{
    <div class="intro">
        <div class="col-xs-12">
            <p><strong>Conum</strong> навіть назвою побудований з двох частин: <strong>counters</strong> (лічильники) та <strong>numbers</strong> (показники). Це простий web-застосунок, що дозволяє зберігати показники будь-якого типу лічильників та аналізувати вартість та історію споживання вимірюваних ресурсів.</p>
            <p>Опісля занесення даних ви зможете аналізувати їх за допомогою діаграми споживання та зручної підрахункової таблиці, що автоматично рахує для вас вартість використаних ресурсів.</p>
            <p>Легка в розумінні оболонка програми та спеціальний підхід до візуального маркування лічильників допоможуть вам без зайвих зусиль тримати показники в належному стані.</p>
        </div>
        <div class ="col-xs-12 center-text text-muted creds">
            <p>Розробка, підтримка та зворотній звʼязок: weareua@gmail.com</p>
        </div>
        <div class ="col-xs-12">
            <img id="diagram" class="center-block" src="../images/index-diagram.jpg">
        </div>
    </div>
    
}