@model Conum.ViewModels.Counter.BasicCounterData

@* Here is the content for the modal*@
<div id="target">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Додати Лічильник</h4>
    </div>
    
    <form asp-action="AddCounter" asp-controller="Counter" method="post" id="add-counter-form">
        <div class="modal-body">
            <div class="form-horizontal">
                <div class="form-group row">
                    <div class="col-sm-12">
                        <input class="form-control" asp-for="Title" type="text" placeholder="Введіть назву лічильника" id="title-input" required>
                    </div>
                    <div class="col-sm-12">
                        <input class="form-control" asp-for="Dimension" type="text" placeholder="Введіть одиницю вимірювання" id="dimension-input" required>
                    </div>
                    <div class="col-sm-12">
                        <input id="pick-color" asp-for="Color" type="text" placeholder="Оберіть колір" class="form-control" required/>
                    </div>
                    <div class="col-sm-12">
                        <input asp-for="Price" type="number" step="0.001" placeholder="Вкажіть вартість одиниці (цифри)" class="form-control" required/>
                    </div>
                        <input class="form-control" asp-for="UserId" type="hidden" value=@ViewBag.UserId>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-warning">Додати</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Скасувати</button>
        </div>
    </form>
</div>

<script>
$(document).ready(function(){
    $('#pick-color').colorpicker({
        format: 'hex'
    });

$('#add-counter-form').validator();
});
</script>