@model Conum.ViewModels.Record.DeleteRecordData

@* Here is the content for the modal*@
<div id="target">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Видалити Запис</h4>
    </div>
    
    <form asp-action="DeleteRecord" asp-controller="Record" method="post">
        <div class="modal-body">
            <div class="form-horizontal">
                <div class="form-group row">
                    <p>Видалити обраний запис, створений @ViewBag.Record.CreationDate.ToString("dd/MM/yyyy") для лічильника @ViewBag.Counter.Title?</p>
                    <input class="form-control" asp-for="RecordId" type="hidden" value=@ViewBag.Record.Id>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-warning">Видалити</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Скасувати</button>
        </div>
    </form>
</div>