@model Conum.ViewModels.Record.AddRecordData

<form asp-action="AddRecord" asp-controller="Record" method="post" data-toggle="validator">
    <div class="form-horizontal">
        <div class="form-group row add-record">
            <div class="col-xs-12">
                <input id="input-record-date" class="form-control datepicker" asp-for="CreationDate" type="text" placeholder="Оберіть актуальну дату для показника" required>
            </div>
            <div class="col-xs-12">
                <input id="input-record-value" class="form-control" asp-for="Value" type="number" step="0.01" placeholder="Введіть показник лічильника" required>
            </div>
                <input class="form-control" asp-for="CounterId" type="hidden" value=@ViewData["CounterId"]>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Додати показник</button>
</form>