﻿﻿/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.default-font {
    font-size: 14px;
}

h3 {
    margin-top: 10px;
}
a {
    color: black;
}

.dashboard{
    margin: 0em auto;
}

.glyphicon {
    font-size: 0.95em;
}

.counter-icon {
    display: block;
	font-size: 6em;
    padding: 0.6em;
    margin-bottom: 0.2em;
}

form input {
    margin: 0.9em auto;
}

form p, .validationMessage {
    margin: 0.5em auto;
    display: table;
}

label {
    display: inline;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

.add-record {
    margin-top: 2em;
}

.counter-title {
    font-size: 16px;
}

.center-text {
    text-align: center;
}

.left-text {
    text-align: left;
}

.counter-nest {
    margin-top: 15px;
    border-bottom: 1px solid #ccc;
}

.counter-nest-bottom {
    margin-bottom: 30px;
}

.all-records {
    border: none;
}

.button-vertical-align {
    vertical-align: middle;
}

.button-wrapper {
    line-height: 13em;
}

.vertical-center-wrapper {
    line-height: 4.5em;
}

.vertical-center-intro-wrapper {
    line-height: 3.75em;
}

.password-confirmation {
    margin: 0.5em auto;
    display: table;
}

.records-nest {
    margin-bottom: 20px;
}

.records-inner-nest {
    margin-top: 1em;
}

.logout {
    padding: 0;
    margin: 0;
    text-decoration: none !important;
}

table thead th {
    text-align: center;
}

.modal {
  text-align: center;
}

#diagram {
    width: 85%;
}

.intro {
    padding-top: 3em;
    font-size: 16px;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.btn:focus,.btn:active {
   outline: none !important;
}

.creds {
    margin-top: 1em;
    font-size: 14px;
    margin-bottom: 0;
}

.delete-counter {
    padding-bottom: 2.9em;
}

.tab-content {
    padding: 1.8em;
}