@model Conum.ViewModels.Counter.DeleteCounterData

<form asp-action="Delete" asp-controller="Counter" method="post" class="form-horizontal">
    <div>
        <input class="form-control" asp-for="CounterId" type="hidden" value=@ViewData["CounterId"]>
    </div>
    <div class="col-xs-12 vertical-center-wrapper delete-counter">
        <button type="submit" class="btn btn-danger center-block button-vertical-align">Видалити @ViewData["CounterTitle"]</button>
    </div>
</form>