@model Conum.ViewModels.Counter.UpdateTitleData

<form asp-action="UpdateTitle" asp-controller="Counter" method="post" class="form-horizontal" data-toggle="validator">
    <div class="col-sm-offset-3 col-sm-5" >
        <div class="form-group row">
            <input class="form-control" asp-for="Title" type="text" placeholder="Введіть нову назву" id="title-input" required>
            <input class="form-control" asp-for="CounterId" type="hidden" value=@ViewData["CounterId"]>
        </div>
    </div>
    <div class="col-sm-4 vertical-center-wrapper">
        <button type="submit" class="btn btn-primary button-vertical-align">Змінити</button>
    </div>
</form>