@model Conum.ViewModels.Counter.UpdateDimensionData

<form asp-action="UpdateDimension" asp-controller="Counter" method="post" class="form-horizontal" data-toggle="validator">
    <div class="col-sm-offset-3 col-sm-5" >
        <div class="form-group row">
            <input class="form-control" asp-for="Dimension" type="text" placeholder="Введіть іншу одиницю вимірювання" id="dimension-input" required>
            <input class="form-control" asp-for="CounterId" type="hidden" value=@ViewData["CounterId"]>
        </div>
    </div>
    <div class="col-sm-4 vertical-center-wrapper">
        <button type="submit" class="btn btn-primary">Змінити</button>
    </div>
</form>