@model Conum.ViewModels.Counter.UpdateColorData

<form asp-action="UpdateColor" asp-controller="Counter" method="post" class="form-horizontal" data-toggle="validator">
    <div class="col-sm-offset-3 col-sm-5" >
        <div class="form-group row">
            <input type="text" asp-for="Color" class='form-control edit-color-for-@ViewData["CounterId"]' value=@ViewData["CounterColor"] required/>
            <input class="form-control" asp-for="CounterId" type="hidden" value=@ViewData["CounterId"]>
        </div>
    </div>
    <div class="col-sm-4 vertical-center-wrapper">
        <button type="submit" class="btn btn-primary">Змінити</button>
    </div>
</form>